*{
    margin: 0;
    padding: 0 auto;
    box-sizing: border-box;
}
body{
    font-family: "Inconsolata";
    background-color: #638cd9;
}
.verborgen{
    display: none;
}
.toon{
    display: block;
}
/**/
#container{
    max-width: 1400px;
    min-width: 668px;
}
.persoon,
.tool,
.vraag
p{
    width: 100%;
    padding-left: 20px;
    font-size: 22px;
}
.vraag{
    background-color: #839ccc;
}
#punten{
    display:block;
    background-color: white;
    padding-left: 20px;
    font-size: 22px;
}
#title{

    font-family: "Varela round";
    font-size: 45px;
    
    text-align: center;
}
#myTitle p{
    text-align: center;
}
h1{
   text-align: left;
    font-family: "Varela round";
    font-size: 24px;
    padding-left: 20px;
    
}
#villains,
#tools-villains{
    display: flex;
}
.persoon,
.tool{
    background-color: #8696d8;
    background-repeat: no-repeat;
    min-height: 175px;
    background-size: cover;
    margin: 4px;
    text-align: center;
}
/**/
#hitler{
    
    background-image: url("../img/hitler.png");
}
#mao{
    background-image: url("../img/mao.png");
}
#jason{
    background-image: url("../img/jason.png");
}
#stalin{
    background-image: url("../img/stalin.png");
}
#bart{
    background-image: url("../img/bart.png");
}
#leo{
    background-image: url("../img/leo.png");
}
/**/
#gas{
    background-image: url("../img/gas.png");
    background-size: 82%;
}
#boek{
    background-image: url("../img/book.png");
}
#kapmes{
    background-image: url("../img/machete.png");
}
#bijl{
    background-image: url("../img/ax.png");
    background-size: 92%;
}
#prikkeldraad{
    background-image: url("../img/barbed-wire.png");
}
#cola{
    background-image: url("../img/coca.png");
}
