* {
    padding: 0;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#container {
    background-color: #6d98ea;
    width: 800px;
    height: 600px;
    margin-top: 10vh;
    position: relative;
    overflow: hidden;
}

@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.woff') format('woff'),
    url('../font/fontello.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'k26speechbubblemedium';
    src: url('../font/k26speechbubble.woff2') format('woff2'),
         url('../font/k26speechbubble.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.fontellos {
    position: absolute;
    color:#0707a7;
    animation: textAni 3s infinite linear;
}
/*initial positions*/
#star{
    font-size: 113px;
    top: 20px;
    left: 20px;
    transform :rotate(20deg);
}

#thumb{
    font-size: 123px;
    bottom: 239px;
    left: 93px;
    transform :rotate(-30deg);
}

#heart{
    font-size: 144px;
    bottom: 52px;
    left: 58px;
    transform :rotate(-37deg);
}

#smile{
    font-size: 134px;
    bottom: 56px;
    left: 580px;
    transform :rotate(20deg);
}

#music{
    font-size: 111px;
    bottom: 395px;
    left: 614px;
    transform :rotate(20deg);
}

#glass{
    font-size: 111px;
    bottom: 220px;
    left: 530px;
    transform :rotate(20deg);
}
/**/
/*#star*/#a{
    font-size: 113px;
    top: 20px;
    left: 20px;
    transform :rotate(20deg);
}

/*#thumb*/ #b{
    font-size: 123px;
    bottom: 239px;
    left: 93px;
    transform :rotate(-30deg);
}

/*#heart*/ #c{
    font-size: 144px;
    bottom: 52px;
    left: 58px;
    transform :rotate(-37deg);
}

/*#smile*/ #d{
    font-size: 134px;
    bottom: 56px;
    left: 580px;
    transform :rotate(20deg);
}

/*#music*/ #e{
    font-size: 111px;
    bottom: 395px;
    left: 614px;
    transform :rotate(20deg);
}

/*#glass*/ #f{
    font-size: 111px;
    bottom: 220px;
    left: 530px;
    transform :rotate(20deg);
}
.randStars{
    color: yellow;
    position: absolute;
    animation: starsAni 0.5s infinite alternate;
}
/**/

#wens{
    font-family: 'k26speechbubblemedium';
    background-color: red;
    width: 254px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 40px;
    box-shadow:         inset 0px 0px 27px 0px rgba(255, 255, 128, 0.8);
}
/*background*/
#center{
    width: 16px;
    height: 16px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 2px;
    animation: backgroundeRotate 8s infinite linear;
}
.layers{
    width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #5f84cc;
    transform-origin: top;
    position: absolute;
}
#layer_1{
    transform: translateY(19%) translateX(-33%) rotate(0deg) scale(12,12);
}
 #layer_2{
    transform: translateY(19%) translateX(-33%) rotate(-90deg) scale(12,12);
}
 #layer_3{
    transform: translateY(19%) translateX(-33%) rotate(-180deg) scale(12,12);
}
#layer_4{
    transform: translateY(19%) translateX(-33%) rotate(-270deg) scale(12,12);
}
@keyframes backgroundeRotate {
    0%{
        transform: rotate(0deg);  
    }
    
    100%{
        transform: rotate(359deg);
    }
}
#google{
    z-index: 12;
    position: relative;
    top: 63%;
    font-size: 40px;
    font-family: 'Bangers';
    text-align: center;
    word-spacing: 12px;
    letter-spacing: 3px;
    animation: google 6s infinite alternate;
}
@keyframes textAni{
    0%{
    text-shadow: -2px -2px 17px rgba(255, 255, 255, 0.);
        }
    50%{
    text-shadow: -2px -2px 17px rgba(255, 255, 255, 0.55);
        }
    100%{
    text-shadow: -2px -2px 17px rgba(255, 255, 255, 0.);
        }
}
@keyframes starsAni{
    0%{
    text-shadow: -2px -2px 17px rgba(255, 255, 255, 0.);
        }
    50%{
    text-shadow: -2px -2px 17px rgba(255, 255, 255, 1);
        }
    100%{
    text-shadow: -2px -2px 17px rgba(255, 255, 255, 0.);
        }
}
@keyframes google{
    0%{
    text-shadow: -2px -2px 17px rgba(255, 255, 255, 0.);
        }
    50%{
    text-shadow: -2px -2px 17px rgba(255, 255, 255, 1);
        }
    100%{
    text-shadow: -2px -2px 17px rgba(255, 255, 255, 0.);
        }
}
