*{
    
    background-color: #facfcf;
}
#container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    height: 500px;
}
.canvas {
    position: absolute; 
    top: 0;
    left: 0;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
#canvas_top{
    background: url(../img/back.svg) no-repeat;
    background-color: transparent;
    background-size: contain;
    background-size: 90%;
    background-position: 50% 85%;
    z-index: 2;
    /* pass click event on the background layer */
    pointer-events:none;
}
#mijn_canvas{
    background-color: transparent;
    z-index: 1;
    background-color: white;
}
h1{
    font-family: 'Solway', serif;
    background-color: #fd9a9a;
    text-align: center;
}